*{
    
 
    box-sizing: border-box;

    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;

    }
    .portifolio{
      text-align: center;
      background-color: #FFCE76;
    }
    .portifolio h2{
       color: #0075F6;
        font-size:  35px;
        font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;

      } 
      .portifolio span{
        color: #1D1919;
        font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;

    
      }
      .portifolio h1{
        
         color: #0075F6;
         font-family: 'Merriweather', serif;
         font-family: 'Playfair Display', serif;
         
      }
      .meunome{
         background-color: #0075F6;
        
      }
     
     .meunome h3{
      
        position: flex;
        
        color:#FFCE76;
      
        
        font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;

     }
     
     .meunome img{
      justify-content: space-between;
      border-radius: 50%;
      height: 100px;
      
      
      
     }
     .meunome h1{
      margin-top: 25px;
      margin-bottom: 25px;
      text-align: center;
      font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;

     }
    
     .meunome  p{
      margin-top: 25px;
      margin-bottom: 25px;
      
      color:  #FFCE76;
      justify-content: space-between;
      text-align: left;
     }
    
     .Projetos{
      background-color:#0900C3;
        
     justify-content: center;
      display: flex;
      flex-direction: column;
     
      border-radius: 20px;
    
     }
     .Projetos h2{
      color:#FFCE76;
      font-size:75;
      text-align: center;
     }
     .card{
      background-color: #FFCE76;
    
    border-radius:  20px;
    padding: 20px 35px;
    text-align: center;
 margin: 5px 5px;
align-items: center;
    width: 300px;
    border-radius: 20px;
  
     }
     .card img{
      height:100px;
      border-radius: 10px;
     }
     .card h5{
      font-size: 24px;
      color:  #0900C3;
        
     }
     .card p{
     
  background:#FFCE76;
  word-wrap: break-word;
 color: #0900C3;
     }
     .card-projetos{
      display: flex;
      justify-content: space-around;
     
     width: auto;
      
   flex-wrap: wrap;
      
     }
     .card a {
      
      background-color:#0075F6;
      color: #191919;
      padding: 10px 20px;
      border-radius: 25px;
      cursor:pointer;
      
      transition: 0.5s;
     }
     .card a :hover{
      background-color: transparent;
      border: 2px solid #0075F6;
     }
     .footer{
      background-color:white;
      display: flex;
      
     
   
     
     }
     .footer h5{
      color: #0900C3;
      font-size:30px;
     margin-bottom: 25px;
     
     }
     .footer p{
      color:#0900C3;
      font-size: 18px;
      align-items: center;
      justify-content: center;
      display: flex;

     }
     .entidade{
      height: 20px;
      margin-left:auto;
      margin-right:auto;
     }
     .entidade a{
      color: #0075F6;
border-radius: 50%;
      height: 45px;
   justify-content: space-around;
  
    margin-left: 10px;
    
     }
     .entidade img{
      height: 24px;
    
     }
     
     .profissional{
      background-color: #0075F6;
     
      display: flex;
      flex-direction: column;
     
      display: flex;
     
      margin-top: 100px;
      text-align: center;
      align-items: center;
      border-radius: 20px;
     }
     .profissional h2{
     color: #FFCE76;
     }
     .Academia{
      background-color:#0900C3;
     justify-content: center;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 100px;
   margin-top: 100px;
   border-radius: 20px;
     }
     .Academia h2{
      color:  #FFCE76;
      font-size:75;
      text-align: center;
     }
    
